# Dependencies
node_modules/

# TypeScript Cache (High size artifact)
*.tsbuildinfo
tsconfig.tsbuildinfo

# Next.js
.next/
out/
next-env.d.ts

# System Files
.DS_Store

# Environment variables (Crucial for security)
.env
.env*.local
